
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fasthand&family=Felipa&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  position: relative;
}
.Parallex {

  width: 100vw;
  height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;
  transition: all ease-in-out 1s;
}

.section1,
.section2 {

  width: 100vw;
  height: 100vh;
}
.section1 .upper-text {
  width: auto;
  position: relative;
  z-index: 100;
  padding: 10px 5px;
  border-bottom: 2px solid black;
  h1 {
    font-size: 90px;
  }
  span {
    font-size: 90px;
    color: #ffdc2e;
  }
  p {
    position: absolute;
    bottom: -5px;
    left: 180px;
    font-size: 45px;
    font-family: "Fasthand", cursive;
  }
}
.section1 .middle-text {
  padding-left: 8px;
  border-bottom: 2px solid black;
  padding-top: 100px;
  p {
    font-size: 50px;
    font-weight: 600;
    animation: AnimatedText 2s ease forwards;
  }
}
.section1 .next-middle {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;

  p {
    font-size: 36px;
    font-family: "Fasthand", cursive;
    animation: AnimatedText 2s ease forwards;
  }
}

@keyframes AnimatedText {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

.section2 .upper-text1 {
  width: auto;
  position: relative;
  padding: 10px 5px;
  border-bottom: 2px solid white;
  h1 {
    font-size: 90px;
    color: #ffdc2e;
  }
  span {
    font-size: 90px;
    color: black;
  }
  p {
    font-size: 36px;
    font-family: "Fasthand", cursive;
  }
}
.section2 .middle-text2 {
  padding-left: 8px;
  border-bottom: 2px solid white;
}
.section2 .next-middle2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 50px;

  justify-content: flex-end;

  p {
    text-align: end;
    padding-right: 20px;
    color: #ffffff;
    font-size: 36px;
    font-family: "Fasthand", cursive;
  }
}
.section2 .bottom-text-container {
  padding-top: 30px;
  z-index: 100;
  h1 {
    padding-left: 20%;
    font-size: 48px;
    z-index: 100;
  }
  span {
    font-size: 48px;
    color: #ffdc2e;
    z-index: 100;
  }
  p {
    font-family: 'litrate',serif;
    font-size: 32px;
    color: white;
    width: 70%;
    padding-left: 32%;
    letter-spacing: 3px;
    z-index: 100;
  }
}

@media only screen and (max-width: 768px) {
  .section2 .bottom-text-container h1,
.section2  .bottom-text-container span,
.section2  .bottom-text-container p {
    padding-left: 10px;
    font-size: 32px;
  }
  .section2 .bottom-text-container p {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }
  .section1 .upper-text {
    p {
      font-size: 36px;
      font-family: "Fasthand", cursive;
    }
  }
  .section2 .next-middle2 {
    p {
      text-align: end;
      padding-right: 20px;
      color: #ffffff;
      font-size: 24px;
      font-family: "Fasthand", cursive;
    }
  }
}

.theme {
  background-attachment: fixed;
  background:  linear-gradient(to bottom, #94ccff, #d5f5ff);
  background-size: 100vh 100vw;
  height: 100vh;
  z-index: -10;
  margin-right: 20px;
  overflow: hidden;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.theme .mountain-Container1 {
  position: absolute;
  bottom: 0;
  z-index: 0;

  width: 100%;
  height: 520px;
  z-index: -100;
  background: url("../assets/parallax/mountain1.png") no-repeat center bottom;
  background-size: 100% 100%;
  transition: transform 0.5s ease;
}
.theme .bottom-stone1 {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 300px;
  background: url("../assets/parallax/bottomStone1.png") no-repeat center bottom;
  background-size: 100% 100%;
}
.theme .bottom-stone2 {
    position: absolute;
    bottom: 0;
  
    width: 100%;
  height: 300px;
  background: url("../assets/parallax/bottomStone2.png") no-repeat center bottom;
  background-size: 100% 100%;
}

.theme .mountain-Container2 {
    position: absolute;
    bottom: 0;
    z-index: 0;
  
    width: 100%;
    height: 520px;
    z-index: -100;
  background: url("../assets//parallax/mountain2.png") no-repeat center bottom;
  background-size: 100% 100%;
  transition: transform 0.5s ease;
}

.theme .bird-container {
  position: absolute;
  top: 100px;
  transform: rotate(-80deg);
  right: 100px;

  .bird {
    height: 40px;
    width: 70px;
    z-index: -10;

    margin: 100px;
    transform: rotate(80deg);
    background: url("../assets/parallax/Bird.svg") no-repeat;
    transition: opacity 0.5s ease;
  }
}
.theme .sun {
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 1);
  top: 70px;
  left: 80px;
  transition: width 0.5s ease, height 0.5s ease;
}
