/* WebKit Browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    width: 15px;   /* Width of the scrollbar */
    height: 8px;  /* Height of the scrollbar (for horizontal scrollbars) */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Color of the scrollbar track */
    
}

body::-webkit-scrollbar-thumb {
    background: #888;     /* Color of the scrollbar handle */
    
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;     /* Color when hovering over the scrollbar handle */
}


/* Apply smooth scrolling for a better user experience */
html {
    scroll-behavior: smooth;
}
