@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: white;
}

.container {
    height: 260vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0%;
    position: relative;
    display: grid;
    background-color: antiquewhite;
}

.container .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* HowBee */
.firstPage .heading {
    font-size: 70px;
    width: 497px;
    height: 165px;
    left: 2px;
    top: 16px;
}

.firstPage .span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 156px;
}

/* into the hive */
.firstPage .text {
    position: absolute;
    font-family: "Fasthand", cursive;
    width: 315px;
    height: 87px;
    left: 148px;
    top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 99px;
    color: #000000;
}

/* A New Dawn Awaits! */
.content h3 {
    position: absolute;
    font-size: 1.7em;
    width: 459px;
    height: 58px;
    left: 2px;
    top: 240px;
}

/* Where Learning Meets Innovation */
.firstPage .c-flex {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20em;
    width: 99.5%;
    height: 60px;
    left: 4px;
    top: 265px;
    justify-content: space-between;
}

.firstPage .c-flex span {
    font-family: "Fasthand", cursive;
    font-size: 1.6em;
}

/* sun */
.parallax1 .sun {
    position: absolute;
    width: 11%;
    left: 2.5%;
    right: 83%;
    top: 2%;
    bottom: 80%;
    filter: blur(5px);
}

/*birds*/
.parallax1 #birds {
    position: absolute;
    left: 71%;
    right: 5%;
    top: 6.5%;
    bottom: 67%;
    z-index: 2;

}

/*trees*/
.parallax1 .trees .tree {
    width: 100%;
    height: 18%;
    position: absolute;
    left: 0%;
    right: 2%;
    top: 16%;
    bottom: 8%;
    z-index: 4;

}

/* stone */
.parallax1 .stones .stone {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0%;
    right: 0%;
    top: 28.5%;
    bottom: 50%;
    z-index: 5;
}

/*mountains*/
.parallax1 .mountains {
    position: absolute;
    width: 2244px;
    height: 1029px;
    left: -394px;
    top: 198px;
}

/* m5 */
.parallax1 .mountains .m5 {
    position: absolute;
    width: 1600px;
    height: 480px;
    left: 365px;
    top: -78px;
    z-index: 0;
}

/* m4 */
.parallax1 .mountains .m4 {
    position: absolute;
    width: 75%;
    height: 40%;
    left: 15%;
    right: 28%;
    top: 10%;
    bottom: 60%;
    z-index: 1;
}

/*m3*/
.parallax1 .mountains .m3 {
    position: absolute;
    width: 55%;
    height: 28%;
    left: 25%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    z-index: 2;
}

/*m2*/
.parallax1 .mountains .m2 {
    position: absolute;
    width: 70%;
    height: 30%;
    left: 19%;
    right: 28%;
    top: 23%;
    bottom: 20%;
    z-index: 3;
}

/* stone */
.parallax1 .stone {
    position: absolute;
    left: -0.76%;
    right: 0%;
    top: 76.66%;
    bottom: -0.01%;
}

.parallax1 .blue-stones .blue-stone {
    position: absolute;
    width: 50%;
    height: 6.5%;
    left: 30%;
    right: 20%;
    top: 32%;
    bottom: 30%;
    z-index: 4;
}

/*page 2*/

/* Hive Your Way */
.parallax2 .secondPage .heading2 {
    position: absolute;
    width: 949px;
    height: 130px;
    left: 8px;
    top: 40%;
    font-size: 4.3rem;
    z-index: 6;
}

.parallax2 .secondPage h1 .heading2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 130px;
    color: #FFDC2E;
}

*/ .parallax2 .secondPage .c-flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* to Success */
.parallax2 .secondPage .c-flex2 .left-p {
    position: absolute;
    width: 193px;
    height: 72px;
    left: 21px;
    top: 44%;
    font-family: 'Fasthand';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    color: #000000;
}

/* Where Learning Meets Innovation */
.parallax2 .secondPage .c-flex2 .right-p .f-end {
    position: absolute;
    width: 525px;
    height: 64px;
    left: 915px;
    top: 44%;
    font-size: 40px;
    font-family: 'Fasthand';
    color: white;
}

/* fresh beginnings */
.parallax2 .secondPage .c-flex2 .right-p .s-end {
    position: absolute;
    width: 372px;
    height: 61px;
    left: 1145px;
    top: 49%;
    font-family: 'Fasthand';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 61px;
    color: #FFFFFF;
}

/* HowBee  last para heading*/
.parallax2 .secondPage .text-container h1 {
    position: absolute;
    left: 18%;
    right: 20%;
    top: 54.5%;
    bottom: 37.79%;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 96px;
    color: #000000;
}

/*last paragarph*/
.parallax2 .secondPage .text-container p {
    position: absolute;
    left: 23%;
    right: 28%;
    margin: 0px 200px 0 44px;
    top: 58%;
    bottom: 28%;
    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* for parallax part */
:root {
    --scroll: 0;
}

.bg-img{
    transform: translateY(calc(-1% * (max(var(--scroll), 80) - 73) * 100 / 100));
}
.firstPage {
    transform: translateY(calc(-1% * (max(var(--scroll), 0) - 0) * 100 / 75));
    /*(oldVal1 - oldMin) * newRange / oldRange + newMin*/
}

.parallax1 .mountains {
  transform: translateY(calc(1% * (max(var(--scroll), 0) - 0) * 100 / 130));
}
.parallax1 #birds {
    transform: translate(calc(-1% * (max(var(--scroll), 0) - 0) * 100 / 20), calc(2% * (max(var(--scroll), 0) - 0) * 100 / 20));
}

.parallax1 .sun {
    transform: translate(calc(1% * (max(var(--scroll), 0) - 0) * 100 / 40), calc(1% * (max(var(--scroll), 0) - 0) * 100 / 13));

}

.parallax1 .stones .stone {
    bottom: 0;
    transform: translateY(calc(1% * (max(var(--scroll), 0) - 0) * 100 / 24.4));
}
.parallax1 .tree {
    transform: translateY(calc(1% * (max(var(--scroll), 0) - 0) * 100 / 44));
}
.parallax1 .blue-stone{
    transform: translateY(calc(1% * (max(var(--scroll), 0) - 0) * 100 /15.9));
}

.darken {
  filter: brightness(0.7);
}



/*partnerLogoslideshow*/
.container .section{
    background-color: #000000;
    color: #FFFFFF;
    align-items: baseline;
}
