/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'DM Sans';
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Yoga Container Styles */
.yogaconatiner {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px;
}

header h1 {
  color: #000;
  font-size: 80px;
  margin-bottom: -50px;
}

header h1 span.highlight {
  color: #FFDC2E;
}

header p {
  font-family: 'Fasthand';
  color: #000;
  font-size: 45px;
  line-height: 1;
  margin-bottom: 10px;
  margin-left: 160px;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}
.left {
  text-align: left;
  flex-basis: 30%;
  max-width: 25em;
}
.left2 {
  bottom: -240px;
  position: relative;
  font-size: 25px;
  z-index: 1;
}
.left2 img{
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;
}

.right {
  text-align: right;
  flex-basis: 35%;
  margin-top: -80px;
}

.center {
  text-align: center;
  flex-basis: 22%;
}

/* Image Container Styles */
.image-container {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 500px;
    text-align: center;
  }
  
  .image-container img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: bottom;
  }
.cloud {
  position: absolute;
  width: 700px;
  top: 10%;
  transform: translateY(50%);
}

.left-cloud {
  left: 130px;
  transform: translateY(20%);
}

.right-cloud {
  right: -200px;
  transform: translateY(40%);
}

.ellipse {
  position: absolute;
  width: 25em;
  height: 25em;
  left: 50%;
  top: 10em;
  background: #A1C5FF;
  border-radius: 50%;
}

.yoga {
  position: absolute;
  z-index: 3;
  width: 180%;
  left: 38%;
  bottom: 0;
  max-height: 600px;
}

.curve-text {
  position: absolute;
  width: 8em;
  height: 10em;
}

.left-curve {
  left: 7.5em;
  top: 19em;
}

.right-curve {
  left: 31.5em;
  top: 20em;
}

/* Tagline Styles */
.tagline {
  font-family: 'Fasthand';
  font-size: 2em;
  display: inline-block;
}

.tagline1 {
  font-family: 'Fasthand';
  font-size: 1.9em;
  display: inline-block;
}

.tagline1 span {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 1em;
  
}

.tagline2 {
  font-family: 'Fasthand';
  font-size: 2em;
  display: inline-block;
}

.center .tagline {
  margin-top: 20%;
  margin-left: -50%;
}

.right .tagline1 {
  margin-left: 20%;
}

.right .tagline2 {
  margin-right: 10%;
  margin-bottom: 60%;
}

.arrow-left {
  position: relative;
}

.arrow-right {
  width: 80px;
  margin-right: 65%;
  margin-top: -10px;
  padding-bottom: 50px;
}

.arrow-right1 {
  width: 50px;
  margin-right: 65%;
}

/* Responsive Design */

/* Mobile Devices */
@media only screen and (max-width: 450px) {
 
  header h1 {
    font-size: 35px;
  }
  
  header p {
    font-size: 20px;
    line-height: 1;
    margin-top: 28px;
    margin-left: 72px;
  }
  .left {
    text-align: left;
    flex-basis: 30%;
    max-width: 25em;
  }
  .left2 {
    bottom: -370px;
    position: relative;
    font-size: 8.5px;
    font-weight: 600;
    z-index: 1;
  }
  
  .right {
    text-align: right;
    flex-basis: 35%;
    margin-top: -80px;
  }
  
  .center {
    text-align: center;
    flex-basis: 22%;
  }
     
    .image-container img {
      display: inline-block;
      margin: 0 auto;
      vertical-align: bottom;
    }
  .cloud {
    position: absolute;
    width: 250px;
    top: 10%;
    transform: translateY(50%);
  }
  
  .left-cloud {
    left: 130px;
    transform: translateY(75%);
  }
  
  .right-cloud {
    right: -100px;
    transform: translateY(180%);
  }
  
  .ellipse {
    position: absolute;
    width: 15em;
    height: 15em;
    left: 80%;
    top: 13em;
    background: #A1C5FF;
    border-radius: 50%;
  }
  
  .yoga {
    position: absolute;
    z-index: 3;
    width: 450%;
    left: 50%;
    bottom: 15%;
    max-height: 600px;
  }
  
  .curve-text {
    position: absolute;
    width: 5em;
    height: 6em;
  }
  
  .left-curve {
    left: 1.8em;
    top: 19em;
  }
  
  .right-curve {
    left: 16.5em;
    top: 19.5em;
  }
  
  /* Tagline Styles */
  .tagline {
    font-family: 'Fasthand';
    font-size: 0.8em;
    display: inline-block;
  }
  
  .tagline1 {
    font-family: 'Fasthand';
    font-size: 0.8em;
    display: inline-block;
  }
  
  .tagline1 span {
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 1em;
  }
  
  .tagline2 {
    font-family: 'Fasthand';
    font-size: 0.8em;
    display: inline-block;
  }
  
  .center .tagline {
    margin-top: 14%;
    margin-left: 7px;
    position: relative;
    top: 100px
  }
  
  .right .tagline1 {
    margin-top: 45%;
    width: 200px;
  }
  
  .right .tagline2 {
    margin-right: -35%;
    margin-bottom: 0;
  }
  
  .arrow-right {
    width: 50px;
    margin-right: -21%;
    margin-top: 40px;
    padding-bottom: 60px;
  }
  .arrow-left{
    width: 50px;
    top: 80px;
    left: 55px;
  }
  .arrow-right1 {
    width: 30px;
    margin-right: -10%;
    margin-bottom: 11px;
  }
}