*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.parallax-container {
    position: absolute;
    top: 0;
    height: 200vh;
    width: 100vw;
    background: linear-gradient(to bottom,
            rgb(160, 203, 240),
            rgb(210, 203, 185),
            rgb(251, 201, 138));
z-index: -1;
    

}
.mountains{
    position: fixed;
    top: 0;
    
}
.mountains img{
    margin-top: 25vh;
    width: 100%;
    object-fit: contain;

}
